<footer>
  <div class="container">
    <div class="col-sm-12">
      <p class="center"><a href="mailto:meninas.saha@gmail.com" target="_blank">Contacto</a> | <a href="https://www.facebook.com/profile.php?id=100008434779638&fref=ts" target="_blank">Facebook</a></p>
    </div>
  </div>
</footer>