/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "_variables";

body{
  background-color: lighten(#cdb8db, 15%);
}

#main-nav{
  background-color: #cdb8db;
  border-color: darken(#cdb8db, 5%);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;

  a{
    color: #fff;
  }
}

.btn-primary{
  background-color: darken(#cdb8db, 20%);
  border-color: darken(#cdb8db, 30%);

  &:hover{
    background-color: darken(#cdb8db, 20%);
    border-color: darken(#cdb8db, 30%);
  }
}


#main-container{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 110px;
  margin-bottom: 40px;
  background-color: #fff;
}

.btn-fill{
  width: 100%;
}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.has-error .checkbox{
  color: #ff4136;
}

.navbar{
  margin-bottom: 0px;
}

.alert{
  margin-top: 70px;
  p{
    margin: 0;
  }
}

#home-container{
  margin-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
}

footer{
  background-color: #cdb8db;
  color: #fff;

  .container{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  p{
    margin-bottom: 0;
  }

  a{
    color: #fff;

    &:hover{
      color: #eee;
    }
  }
}